
.headerStyle {
    padding: 10px 30px;
}

.MainLogo {
    width: 120px;


    @media screen and (max-width: 768px) {
        width: 80px;
    }
}

// .Menus {
//    > a {
//        text-decoration: underline;
//    }
// }


