@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

$boxShadow : rgb(237 237 237) 2px 3px 8px;

$point : #ff9300;
$main : #372874;
$sub1 : #b1b5e6;
$sub2 : #ffce1f;
$white-1 : #fff;
$white-2 : #f9f9f9;
$dark-1 : #444;
$red: #f45752;
// Home , /Main 쪽 파일들(Membership 폴더 제외)

//공통

.BoxContainer {
    width: 100%;
    height: 100%;
}


//Home

.MainHome {
    width: 100%;
    padding: 180px 60px;
    height: 100%;
    overflow: hidden;
    // padding: 48px;
    // height: 100vh;
    // overflow: hidden;

    @media screen and (max-width: 768px) {
        
        padding: 30px;
        justify-content: center;
        /* word-break: keep-all; */
    }
}

.cardTop {
    padding: 8px;
    background-color: $main;
}

.cardTitle {
    text-align: center;
    padding: 0 10px;
    font-family: 'NeoDunggeunmo';
    word-break: keep-all;

    @media screen and (max-width: 768px) {
        padding: 30px;
        justify-content: center;
        /* word-break: keep-all; */
    }
}


//Brand



.LightBox {
    font-family: 'NeoDunggeunmo';
    text-align: center;

    >img {
        width: 200px;
    }

    >h1 {
        font-size: 2rem;
        font-weight: 600;
        color: $main;
        margin-bottom: 20px;
        line-height: 40px;

        >span {
            color: $sub2;
            // -webkit-text-stroke: 0.5px $main;
        }
    }
}

.paraBox {

    >p {
        @media screen and (max-width: 768px) {
            font-size: 1.1rem;
        }
    }
}

.lanternBox {
    text-align: center;

    >img {
        width: 180px;
    }
}

.brand_img {
    width: 180px;

    >img {
        width: 100%;
    }
}

.IntroTinggle {

    >h4 {
        font-family: "NeoDunggeunmo";

    }

    >ul {
        max-width: 500px;
        // list-style-type: disc;
        margin-top: 20px;
    }

    .introduce {
        margin-top: 20px;
    }
}


.brand_paragraph {

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


//Detail 폴더

.DetailHeader {
    width: 100%;
    height: 300px;
    background-color: $white-1;
    line-height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    >h1 {
        // font-family: 'NeoDunggeunmo';

        font-size: 30px;
        font-weight: 900;

        @media screen and (max-width: 768px) {
            font-size: 25px;
        }
    }

    >h2 {
        font-size: 16px;
        padding-bottom: 30px;


        @media screen and (max-width: 768px) {
            line-height: 22px;
        }
    }

    >hr {
        width: 20%;
    }
}

.Detail1,
.DetailBottom1,
.DetailBottom2 {
    padding: 80px 0;
}

.Detail2 {
    padding: 80px 0 0 0;
}

.Detail3 {
    padding: 0 0 80px 0;
}

.Detail-img {
    width: 250px;

    @media screen and (max-width: 768px) {
        display: none;
    }
}


.Detail2-img {
    width: 180px;


    @media screen and (max-width: 768px) {
        width: 150px
    }
}

.Detail3-img {
    width: 150px;


    @media screen and (max-width: 768px) {
        width: 120px
    }
}




.Detail-TextBox {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    gap: 28px;

    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }

    >div>h3 {
        font-weight: 600;
        font-size: 19px;
        padding: 7px 0;

        >a {
            font-weight: 600;
            text-decoration: underline;
        }
    }

    >div>p {
        font-size: 17px;

        >a {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

.Detail2,
.Detail3 {
    >h3 {
        font-weight: 600;
        font-size: 25px;
        padding-bottom: 30px;


        @media screen and (max-width: 768px) {
            font-size: 20px;
        }

    }

    >hr {
        width: 15%;
    }
}

.Detail2-Content {

    padding: 100px 64px;
    gap: 50px;

    @media screen and (max-width: 768px) {
        padding-right: 0;
        padding-left: 0;
    }

    >div {
        text-align: center;
        width: 220px;
        // border: 1px solid $dark-1;

        >p {
            font-size: 15px;
        }

    }
}

.Detail3-Content {
    padding: 100px 0 80px 0;
    gap: 50px;


    >div {
        text-align: center;
        width: 220px;
        // border: 1px solid $dark-1;

        >p {
            margin-top: 35px;
            font-size: 16px;
        }

    }
}


.intoServiceBtn {
    text-align: center;
    // margin-bottom: 40px;

    >a>button {
        background-color: $main;
        color: #fff;
        border: 0;
        outline: 0;
        padding: 0;
        width: 180px;
        padding: 15px 10px;
        font-size: 18px;
        border-radius: 5px;
        cursor: pointer;
    }
}


.DetailBottom1 {
    padding: 100px 0px;
    gap: 60px;

    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }
}

.Bottom1-Content {

    background-color: #fff;
    box-shadow: $boxShadow;
    padding: 24px;

    >h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    >p {
        font-size: 16px;
    }
}

.DetailBottom2 {
    padding: 36px;
    gap: 30px;
}

.Bottom2-Content {

    >h4 {
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 600;
        font-size: 20px;
        padding: 15px 0;
        color: #000;

        >svg {
            fill: #000;
            stroke: #000;
            ;
        }
    }


    >p {
        color: #000;

        &::before {
            content: ' ∙ '
        }
    }
}

//newsletter



.LetterHeader {
    width: 100%;
    background-color: $main;
    color: #fff;
    text-align: center;
    padding: 48px 0;

    >h4 {
        margin: 0;
    }
}

.LetterBox {
    padding: 150px 0;

    @media screen and (max-width:768px){
        padding-right: 20px;
        padding-left: 20px;
    }
}


.tingLetterImg {

    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
    width: 250px;
    margin : 35px 0;

    @media screen and (max-width: 768px) {
        width: 200px;
    }
}
}

.speech {
    position: relative;
	background: $sub2;
	border-radius: .4em;
    padding: 15px;

    > h2 {
        font-family: 'NeoDunggeunmo';
        text-align: center;

    }

    &::after {
    content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: $sub2;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -20px;
    }
}

.FormInputs {

    max-width: 400px;    
    width: 100%;
    > p{
        font-size: 13px;
        color : $point;
    }

    >input {

        width: 100%;
        padding: 10px 5px;
        font-size: 1rem;
        border: 1px solid #051619;
        margin:0;
    
        // @media screen and (max-width:768px) {
        //     width: 300px;
        // }
    }

    @media screen and (max-width: 768px) {
        // width: 100%;
        text-align: center;
    }

}


.correct {
    color: #ff9300;
}

.incorrect {
color : red;
}

.CheckSubs {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;

    .checkStyle {
        cursor: pointer;
        margin-right: 10px;
        width: 14px;
        height: 14px;
    }

}

.subsBtn {
    background-color: $main;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 0;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 12px;
    cursor: pointer;
}

.error {
    background-color : #f9f9f9;
    border: 1px solid  #444;
    color : #444;
    cursor: pointer;

    outline: 0;
    padding: 8px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 12px;
}

.PrevLetter {
    padding: 40px 0;

    > div > a {
        background-color : $sub2;
        border:1px solid $sub2;
        border-radius: 5px;
        padding: 10px 15px;
        transition: all 300ms ease-in-out;

        &:hover {
        background-color : $point;
        border:1px solid $point;

        font-weight: 600;
        }
    }
}

// .preHeader {
//     width: 50%;
//     text-align: center;
//     font-weight: 600;
//     padding-top: 15px;
//     border-top: 1px solid #000;
// }



//Ask

.AskHeader {

    line-height: 35px;

    >h2,
    h3 {
        font-weight: 600;

    }

    >h2 {
        font-size: 25px;
    }

    >h3 {
        font-size: 25px;
        margin-bottom: 35px;
    }

    @media screen and (max-width: 768px) {
        >h2, h3 {
            font-size: 20px;
        }
    }
}

.goFaq {
    border: 1px solid #ededed;
    background-color: #ededed;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
        background-color: #fff;

    }
}

.FieldStyle {

    border-bottom: 0;

    >label {
        margin: 0;
        margin: 6px 0;
        font-size: 16px;
    }

    >div {
        border: 0;
    }

    .EmailInput,
    .PhoneInput
    {   
        background-color: $white-1;
        padding: 10px 8px;
        border: 1px solid #444;
    }

    .selectStyle {
        background-color: $white-1;
        padding: 10px 5px;
        border: 1px solid #444;
    }

    .textareaStyle {
        padding: 10px;
        min-height: 200px;
        resize: none;
        border: 1px solid #444;
        background-color: $white-1;

        &::placeholder {
            font-size: 14px;
        }
    }

}

.SubmitBox {
    text-align: center;
    padding-top: 10px;

    >button {
        font-size: 1rem;
        background-color: $main;
        border: 1px solid $main;
        outline: 0;
        color: #fff;
        padding: 15px 50px;
        border-radius: 10px;
        cursor: pointer;
    }
}



//FAQ

.FaQHeader {
    >h2 {
        font-size: 1.6em;
        font-weight: 600;
    }
}

.FaqContainer {
    padding: 100px 64px;

    @media screen and (max-width: 768px) {
        padding-right: 36px;
        padding-left: 36px;
    }


    @media screen and (max-width: 680px) {
        padding-right: 24px;
        padding-left: 24px;
    }
}

.Faq-Content {
    border: 1px solid $dark-1;
    border-radius: 10px;
    background-color: #fff;

}

.Faq-Title {

    background-color: $white-2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 36px;

    >h2 {
        display: flex;
        align-items: center;

        font-size: 1.5rem;
        font-weight: 900;

        >svg {
            margin-right: 5px;
        }
    }
}

.Faq-Accordion {
    padding: 36px;
    // margin-top: 35px;
    gap: 15px;
}

.Faq-AccoPanel {


    >div {
        padding: 0;
        padding: 10px 5px;

        >h4 {
            max-width: 800px;
        }
    }
}

.Faq-PanelContent {
    // padding: 10px 5px;
    padding: 10px 0px 10px 25px;
    max-width: 1100px;

    >p {
        font-size: 17px;
        line-height: 25px;
    }
}


//Explain


.ExplainHeader {
    text-align: center;
    line-height: 35px;

    >h2 {
        margin: 0;
        font-weight: 600;

        @media screen and (max-width:768px) {
            font-size: 20px;
        }
    }
}

.ExplainBtn {
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid $main;
    outline: 0;
    color: #444;
    padding: 15px 50px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.MemCardCon {
    background-color: #fff;
    border: 1px solid $main;
    cursor: pointer;
    min-height: 200px;
    transition: all 300ms ease-in-out;    

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    &:hover {
        border: 1px solid $sub1
    }


}

.MemCardHead {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    
    padding: 0 3px 0 8px;

    > p {
        padding: 5px;
    }

    > span {
        font-size : 15px;
    }
}

.MemCardBody {
    padding: 30px 20px;
    
    > h3, h4 {
        font-weight: 600;
    }

    > h3 {
        font-size: 25px;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    > h4{
        font-size: 23px;
    }

    > p {
    
        >span {
            text-decoration: line-through;
           
        }
    }

}

hr {
    width: 50%;
    border-color: $main;
}

.TextCon {
    padding: 48px 0;
}

.ExplainBottom {
    padding: 48px 0;

    >a>button {
        font-size: 1rem;
        background-color: #fff;
        border: 1px solid $main;
        outline: 0;
        color: #444;
        padding: 15px 50px;
        border-radius: 10px;
    }
}


//Sign

.SignInHeader {
    padding: 48px;

    > h3 {
        font-size: 1.3rem;
    }
}

.SignMemCardCon {
    background-color: #fff;
    border: 1px solid $main;
    cursor: pointer;
    min-height: 200px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }



}

.SignMemCardHead {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 3px 0 8px;

    > p {
        padding: 5px;
    }

    > span {
        font-size : 15px;
    }
}

.SignMemCardBody {
   
   width: 200px;
   padding: 30px 20px;

  
    > h3, h4 {
        font-weight: 600;
    }

    > h3 {
        font-size: 25px;
        text-decoration: underline;
        margin-bottom: 20px;
    }

    > h4{
        font-size: 23px;
    }

    > p {

        >span {
            text-decoration: line-through;
        
        }
    }

    @media screen and (max-width: 768px) {

        width: 100%;
    }
}


.selected {
    border: 3px solid $main;
}

.SignInHeader {
    font-weight: 600;
}

.CreditBox {
    border: 1px solid $main;
    border-radius: 10px;
    padding: 25px;
}

.creditCard {
    width: 100%;
    /* height: 30%; */
    padding-bottom: 15px;
}

.creditCard>h3 {
    padding-bottom: 20px;
}

.ElementBox {
    border-color: #ededed;
    padding-bottom: 10px;
}


.ElementBox>p {
    font-size: 0.9em;
}

.ElementBox>input {
    height: 30px;
    outline: 0;
    border: 1px solid #ededed;
    padding: 6px;
    border-radius: 5px;
}

.PwElement {
    width: 60px;
}

.PriceBox {
    text-align: right;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #ededed;
    font-size: 1.5em;
}


.creditCardButton {
    background-color: #30009C;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
    border: 0;
    outline: 0;


}

.changeButton {

    background-color: #5600E8;
    border: 1px solid #5600e8;
    color: #fff;
    border-radius: 10px;
    padding: 5px 8px;
    text-align: center;
    cursor: pointer;
}


//MyPage

.MypageHeader {
    font-weight: 900;
    font-size: 1.6rem;
    padding: 60px 48px;
}

.modifyBtn {
    background-color: $main;
    border: 1px solid $main;
    outline: 0;
    color: #fff;
    padding: 12px 35px;
    font-size: 1rem;
    font-weight: 600;
}

.MypageLogout {
    background-color: #fff;
    border: 1px solid $main;
    outline: 0;
    color: $main;
    padding: 12px 45px;
    font-size: 1rem;
    margin-top: 5px;
}

.unSubText {
    text-align: center;
    margin-bottom : 15px;
}

.unSubBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    > button:first-child {
        background-color : $main;
        border: 1px solid $main;
        padding: 8px 15px;
        color: $white-1;
        cursor: pointer;
    }

    > button:nth-child(2) {
        background-color: $red;
        border: 1px solid $red;
        padding: 8px 15px;
        color: $white-1;
        cursor: pointer;
    }
}

// .UserContent, .BtnContent {
//     padding: 0 48px;
// }

.UserContent {
    width: 70%;
    max-width: 800px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

}

.BtnContent {
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 15px 0;
    }
}

.dataBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    >p:first-child {
        font-weight: 600;
    }

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 5px;

    }
}

.payData {

    display: flex;
    justify-content: center;
    align-items: center;

    >p {
        font-weight: 600;
    }

    > div {
        > button, a > button {
            background-color: $sub2;
            margin-left: 10px;
            border:1px solid $sub2;
            border-radius: 5px;
            padding: 5px 8px;
            outline: 0;
            font-size: 15px;
            cursor: pointer;
            transition: all 300ms ease-in-out;

            &:hover{
                background-color: $sub1;
                border: 1px solid $sub1;
            }
        }

        @media screen and (max-width: 768px) {
            display: flex;
            gap: 10px;
            margin-left: 8px;

            > button, a > button {
                margin:0;
                font-size: 13px;
            }
        }
    }
}

//modify


.UserFormInputs {

    width: 400px;
    text-align: center;

    >input {

        width: 100%;
        padding: 10px 5px;
        font-size: 1rem;
        border: 1px solid #051619;
        margin-bottom: 10px;


        @media screen and (max-width:768px) {
            width: 50%;
        }

        @media screen and (max-width:680px) {
            width: 80%;
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }

}

.ModifyContent {
    height: 100%;

    @media screen and (max-width: 1024px) {
        height: 80vh;
    }
}


.ModifyUserBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;

    .checkStyle {
        cursor: pointer;
        margin-right: 10px;
        width: 14px;
        height: 14px;
    }

}

.MBtn {
    background-color: $main;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 0;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 12px;

    cursor: pointer;
}

.OutBtn {
    text-decoration: underline;
    background: transparent;
    border: 0;
    outline: 0;
    margin-top: 25px;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        font-weight: 600;
    }
}

//payment



.paymentBox {
    padding: 150px 80px;
    gap: 50px;

    @media screen and (max-width: 768px) {
        padding-right: 20px;
        padding-left: 20px;

    }
}

.paymentContent {
    border: 1px solid $dark-1;
}

.payBox {
    display: flex;
    padding: 15px 8px;
    gap: 50px;

    >h4 {
        font-weight: 600;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        gap: 20px;

    }
}

.cancelBtn {
    background-color: $sub1;
    border: 1px solid $sub1;
    outline: 0;
    color: #fff;
    padding: 12px 35px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
        background-color:  #f45752;
        border: 1px solid  #f45752;
    }
}

.listBtn {
    background-color: $main;
    border: 1px solid $main;
    outline: 0;
    color: #fff;
    padding: 12px 35px;
    font-size: 1rem;
    font-weight: 600;
}

//tingbox 

.tingContainer {
    padding: 215px 64px;

    @media screen and (max-width: 768px) {
        padding-right:24px;
        padding-left:24px;
    }
}


.tingContent {
    border: 1px solid $dark-1;

}


.titleAbutton {
    gap: 5px;
 
    > h3 {
        font-weight: 600;
        width: 120px;
        font-size: 17px;
        text-align: center;

    }
    
    > div {
        // width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        
    > button {
        width: 50px; 
        cursor: pointer;
        font-size: 14px;
        background-color: $point;
        border: 1px solid $point;
        color: #000;

        &:hover {
            background-color: $sub2;
            border: 1px solid $sub2;
            
        }
    }

    }

    @media screen and (max-width: 768px) {
        justify-content: space-between;

        > div {
            flex-direction: row;
        }

        > h3 {
            text-align: left;
        }
    }

}


.ListTitle {
    padding: 18px 15px;
    background-color: $sub2;
    font-weight: 600;
    border-bottom: 1px solid $dark-1;

    @media screen and (max-width:768px) {
        border-bottom: 0;
    }
}

.SaveContent {
    max-width: 700px;
    
}


.tingNoContent {


    > div {
        text-align: center;

        >img {
            width: 300px;
            opacity: 0.5;
        }

        >p {
            padding: 40px 0;
            font-size: 25px;
            font-weight: 600;
        }
    }

    > a > button {
        border: 1px solid $sub1;
        background-color: $sub1;
        color: $white-2;
        font-size: 18px;
        padding: 10px 15px;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        &:hover {
            background-color: $point;
            border: 1px solid $point;
            color: $dark-1;
        }
    }
}

//payDone

.DoneContainer{
    width:100%;
    height: 100vh;

    @media screen and (max-width: 768px) {
        padding: 0 20px;
    }
}

.DoneBox {
    //padding: 180px 0;
    display:flex;
    flex-direction: column;
    gap: 50px;
}

.DoneText {
    text-align: center;

    > h2 {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 15px;
    }


    @media screen and (max-width: 768px) {
         > h2 {
             font-size : 1.2rem;
        }
    }

}

.DoneButton {
    text-align: center;

    > button:first-child {
        background-color: $main;
        border: 1px solid $main;
        color : $white-1;
        font-size: 20px;
        margin-right: 15px;
        padding: 5px 25px;
        cursor: pointer;

    }
    > button:nth-child(2) {
        background-color: $white-2;
        border: 1px solid $dark-1;
        font-size: 20px;
        padding: 5px 25px;
        cursor: pointer;
    }


    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        > button {
            width: 100%
        }

        > button:first-child {
            margin:0;
        }
    }
}
