@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

// Home , /Main 쪽 파일들


//Home

.MainHome {
    width: 100%;
    padding: 48px;

    @media screen and (max-width: 768px) {
        padding: 30px;
        justify-content: center;
        /* word-break: keep-all; */
    }
}

.cardTop  {
    padding: 8px;
    background-color:#3B2477; 
}

.cardTitle {
    text-align: center;
    padding: 50px;

    @media screen and (max-width: 768px) {
        padding: 30px;
        justify-content: center;
        /* word-break: keep-all; */
    }
}


//Brand


.brandBox {
    height: 80vh;

    @media screen and (max-width:768px){
        height: 100%;
    }
}

.brand_img {

    text-align: center;
    overflow: hidden;
    
    > img{
    
    width: 400px;
  

    @media screen and (max-width: 768px) {
       width: 300px;
        }
    

    @media screen and (max-width: 680px) {
        width: 90%;
    }
    }
}
    


.brand_paragraph {
    
    font-family: 'NeoDunggeunmo'; 

    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


//Detail 폴더

.DetailBox {
    height: 100vh;
}

.DetailHeader, .DetailBody {
    text-align: center;
}

.intoServiceBtn {
    background-color: #3B2477;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 0;
    width: 180px;
    padding: 8px 0;
    font-size: 16px;
    border-radius: 5px;
}