$mainColor : #3b2477;
$boxShadow : rgb(237 237 237) 2px 3px 8px;

//서비스 공통

.ServiceContainer {
    width : 100%; 
    height: 100vh;

    @media screen and (max-width: 768px) {
        height: 100%;
    }
}

//내용이 없어서 height 100%으로 하면 빈 화면이 나올 때
.ServiceContainerVh {
    width : 100%; 
    height: 100vh;
}


//Header

.ServiceHeader {
    padding: 15px 30px;
    background-color: #fff;
}

.MainLogo2 {

    >a {
        display: flex;

        > img {
            width: 120px;
            margin: 0;
            padding: 0;


            @media screen and (max-width: 768px) {
                width: 80px;
            }

        }
    }


}

.Menus {
    cursor: pointer;
}

.ServiceMenus {
    // background-color: #3b2477;
    background-color: #fff;
    border: 1px solid #444;
    border-right: 0;
    text-align: center;
    position: absolute;
    z-index: 5;
    right: 0;

    padding: 48px 36px;

    @media screen and (max-width: 768px) {
        border-left:0;
        border-bottom : 1px solid #444;
       
    }

}

.ServiceDropMenu {

    @media screen and (max-width: 768px) {
        width:100%;
    }
}

.ServiceDropDown {
    display: block;
    text-align: left;
    box-sizing: border-box;
    line-height: 45px;

    > li:hover, li:active, li:visited {
        text-decoration: underline;
        font-weight: 600;
    }
}

.ServiceAfterLogin {
    position: absolute;
    width: 300px;
    background-color: #fff;
    z-index: 5;
    top: 60px;
    right: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ededed;

}

.ServiceUsername {
    font-weight: 600;
}

.ServicePlan {
    font-weight: 900;
    text-align: right;
}

.ServiceAfterLoginBottom {
    text-align: right;

    >p {
        padding: 3px 0;
    }

    >button {
        width: 100%;
        background-color: #5600e8;
        border: 1px solid #5600e8;
        color: #fff;
        outline: 0;
        padding: 5px 0;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}


//Firstsentence

.printBox {
    border: 1px solid #444;
    border-radius: 15px;
    width: 500px;
    margin-top: 8px;
    padding: 6px;
    position: relative;
    transition: all .5s ease-in-out;

    @media screen and (max-width: 680px) {
        width: 80%;
    }

}

.SentenceBox {
    background-color: #fff;
   
    border: 1px solid #444;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    padding: 24px;
    text-align: center;

    // @media screen and (max-width: 680px) {
    //    width:300px
    // }
}


//Lyrics

.LyricInputBox{
    width: 300px;

   > button {
    background-color: $mainColor;
    border: 1px solid $mainColor;
    outline: 0;
    font-size: 1.05rem;
    color: #fff;
    padding: 14px 0;
   }
}

.subjectTitle, .subjects {
    margin-bottom: 15px;

    > p {
        font-weight: 600;
        font-size: 1.05rem;
        margin-bottom : 8px;
    }

    > input {
        padding: 8px 10px;
        width: 100%;
        margin-bottom : 5px;
        border: 1px solid #444;
        font-size: 1rem;
    }
}

.subjects {
    display: flex;
    flex-direction: column;
}

.LyricOutputBox {
   width: 50%;

    > textarea {
        resize: none;
        border-bottom : 0;
        padding: 10px;
        font-size: 1rem;
        height: 500px;

        &:focus {
            outline: none;
        }
    }
        
}

.icons {
    border: 1px solid #444;
    border-top : 0;
    background-color : #f9f9f9;
    padding: 10px 0;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

//Business

.itemInputBox {

    > button  {
        background-color: $mainColor;
        border: 1px solid $mainColor;
        outline: 0;
        font-size: 1rem;
        color: #fff;
        padding: 0px 40px;
        height: 100%;
        margin-left : 10px;
    }
}

.busiItem {

    width: 500px;

    > p {
        font-weight: 600;
        font-size: 1.05rem;
        margin-bottom : 8px;
    }

    > input {
        padding: 8px 10px;
        width: 100%;
        border: 1px solid #444;
        font-size: 1rem;
        
    }
}

.SerCardHead {
    padding: 10px;
    font-family: 'NeoDunggeunmo'; 
    background-color: #555;
    color: #fff;
    
}

.SerCardBody {
    text-align: center;
    padding: 48px;
}

.SerCardFoot {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}