$point : #ff9300;
$main : #372874;
$sub1 : #b1b5e6;
$sub2 : #ffce1f;
$white-1 : #fff;
$white-2 : #f9f9f9;
$dark-1 : #444;

$boxShadow : rgb(237 237 237) 2px 3px 8px;



//서비스 공통

.ServiceContainer {
    width: 100%;
    height: 100%;

}

//내용이 없어서 height 100%으로 하면 빈 화면이 나올 때
.ServiceContainerVh {
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 768px) {
        height: 100%;
    }
}

.sideContainer {
    background-color: $white-1;
    border-right: 1px solid $main;
    border-top: 1px solid $main;
    height: 100vh;
    width: 250px;
    transition: width 0.4s ease;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        width: 100%;
        //height: 100%;
        overflow: scroll;
        z-index: 3;
        border: 0;
        border-top: 1px solid $main;
        border-bottom: 1px solid $main;

    }
}

.sideContainer100 {
    background-color: $white-1;
    border-right: 1px solid $main;
    border-top: 1px solid $main;
    height: 100%;
    width: 250px;
    transition: width 0.4s ease;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 100vh;
        overflow: scroll;
        z-index: 3;
        border: 0;
        border-top: 1px solid $main;
        border-bottom: 1px solid $main;
    }
}



.CloseSiderBtn, .SiderBtn, .OpenBtn {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    color: #444;
    font-size: 15px;
    font-weight: 600;
}

.SiderBtn {

    background-color: #fff;
    border: 1px solid #444;
    border-left: 0;
     gap: 2px;

    @media screen and (max-width: 768px) {
        border:0;
        border-bottom: 1px solid #444;
        border-top: 1px solid #444;
    }
}

.OpenBtn {
    gap: 2px;
    background-color: #ffce1f;
    border: 1px solid #444;
    border-left: 0;

    @media screen and (max-width: 768px) {
        border:0;
        border-bottom: 1px solid #444;
        //border-top: 1px solid #444;
    }
}

.isSiderFalse {
    width: 80px;
    transition: width 0.4s ease;

    @media screen and (max-width: 768px) {
        width: 100%;
        height: 50px;
        border: 0;
  
    }
}


.lodingBox {
    z-index: 3;
    font-family: 'NeoDunggeunmo';
    background: rgb(255, 206, 31, 0.9);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    >div {

        text-align: center;
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        >img {
            width: 300px;
        }

        >p {
            margin-top: 15px
        }
    }

    @keyframes bounce {
        0% {
            transform: translateY(0px)
        }

        40% {
            transform: translateY(-40px);
        }

        100% {
            transform: translateY(0px);
        }
    }

}


.guide-Accordion {
    gap: 15px;
    width: 100%;
    background-color: $white-1;
    
}

.guide-PanelHeader {
    background-color: $sub2;
    padding: 8px;
    font-size: 17px;
    font-weight: 600;
    word-break: keep-all;
}

.guide-PanelContent {
    background-color: $white-1;
    //padding: 10px 0px 10px 25px;
    padding: 15px;
    width: 100%;

    h4 {
        font-size: 17px;
        font-weight: 600;

    }

 
    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 15px;
        padding: 30px 10px 0 15px;
        word-break: keep-all;


        >img {
            width: 150px;
        }

        > div > p {
            font-size: 16px;
            margin-bottom : 5px;
        }
    

        @media screen and (max-width: 768px) {
            gap: 20px;
            flex-direction: column;
        }
    }
}


//웹노블, 동화 공통



.mainOutputBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;

    @media screen and (max-width:768px) {
        flex-direction: column;
    }
}


//Header

.ServiceHeader {
    padding: 15px 30px;
    background-color: $white-1;
}

.MainLogo2 {

    >a {
        display: flex;

        >img {
            width: 120px;
            margin: 0;
            padding: 0;


            @media screen and (max-width: 768px) {
                width: 80px;
            }

        }
    }


}

.Menus {
    cursor: pointer;
}

.ServiceMenus {
    // background-color: #3b2477;
    background-color: $white-1;
    border: 1px solid #444;
    border-right: 0;
    text-align: center;
    position: absolute;
    z-index: 5;
    right: 0;

    padding: 48px 36px;

    @media screen and (max-width: 768px) {
        border-left: 0;
        border-bottom: 1px solid #444;

    }

}

.ServiceDropMenu {

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.ServiceDropDown {
    display: block;
    text-align: left;
    box-sizing: border-box;
    line-height: 45px;

    >li:hover,
    li:active,
    li:visited {
        text-decoration: underline;
        font-weight: 600;
    }
}

.ServiceAfterLogin {
    position: absolute;
    width: 300px;
    background-color: $white-1;
    z-index: 5;
    top: 60px;
    right: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ededed;

}

.ServiceUsername {
    font-weight: 600;
}

.ServicePlan {
    font-weight: 900;
    text-align: right;
}

.ServiceAfterLoginBottom {
    text-align: right;

    >p {
        padding: 3px 0;
    }

    >button {
        width: 100%;
        background-color: #5600e8;
        border: 1px solid #5600e8;
        color: $white-1;
        outline: 0;
        padding: 5px 0;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}


//WebNovel

.SiderBox {
    width: 100%;
    text-align: center;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

.dropdowncategory {
    border: 0;
    outline: 0;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin: 20px 0;
    color: #fff;
    background-color: $main;
    text-align: center;
    cursor: pointer;

    /* select 화살표 없애기 */
    appearance: none;
    -webkit-appearance: none;

}

select::-ms-expand {
    display: none;
}

.sub_input_text {
    padding: 10px;
    width: 200px;
    margin-top: 15px;
    border-radius: 5px;
    resize: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;

    background-color: transparent;

    @media screen and (max-width: 768px) {
        width: 80%;
    }
}


.create {
    margin: 30px 0;
    font-size: 1rem;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: $main;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}


.create:hover {
    background-color: $sub2;
    color: $dark-1;

}

.outputKo,
.outputEn {
    background-color: $white-1;
    border: 1px solid #444;
    max-width: 450px;
    width: 100%;
    height: 300px;
    resize: none;
    font-size: 16px;
    padding: 10px 15px;

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

//bloger

.blogMainBox {
    width: 100%;
    gap: 30px;
    padding: 210px 120px;


    @media screen and (max-width: 768px) {
        padding-right: 30px;
        padding-left: 30px;
    }

}


.BlogIdeaBox {

    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    width: 100%;

    gap: 15px;

    >input {
        padding: 8px 10px;
        width: 100%;
        border: 1px solid #444;
        font-size: 1rem;
    }

    >button {
        background-color: $sub1;
        border: 0;
        outline: 0;
        cursor: pointer;
        padding: 8px 10px;
        border-radius: 5px;
    }

    @media screen and (max-width: 768px) {
        >input {
            width: 60%;
        }
    }

    @media screen and (max-width: 680px) {
        flex-direction: column;

        >input {
            width: 100%;
        }
    }
}

.BlogProgressBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    width: 100%;
    background-color: $white-1;
    gap: 15px;
    border-top: 3px solid #372874;

   >h4 {
       font-weight: 600;
   }

   > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
   }

    > div >button {
        background-color: $sub2;
        border: 0;
        outline: 0;
        cursor: pointer;
        padding: 8px 12px;
        border-radius: 5px;
    }

 
    @media screen and (max-width: 680px) {
        flex-direction: column;
    }
}

.blogOutputKo,
.blogOutputEn,
.blogFollowKo,
.blogFollowEn
{
    background-color: $white-1;
    border: 1px solid #444;
    max-width: 400px;
    width: 100%;
    height: 200px;
    resize: none;
    font-size: 16px;
    padding: 10px 15px;
    overflow: scroll;

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

.blogFollowKo,
.blogFollowEn {
    resize: none;
}



//Firstsentence

.printBox {
    border: 1px solid #444;
    border-radius: 15px;
    width: 500px;
    margin-top: 8px;
    padding: 6px;
    position: relative;
    transition: all .5s ease-in-out;


    @media screen and (max-width: 680px) {
        width: 80%;
    }

}

.SentenceBox {
    background-color: $white-1;

    border: 1px solid #444;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    padding: 24px;
    //text-align: center;

    >div {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    // @media screen and (max-width: 680px) {
    //    width:300px
    // }
}


//Lyrics

.LyricInputBox {
    width: 300px;

    >button {
        background-color: $main;
        border: 1px solid $main;
        outline: 0;
        font-size: 1.05rem;
        color: $white-1;
        padding: 14px 0;
        cursor: pointer;
    }
}

.subjectTitle,
.subjects {
    margin-bottom: 15px;

    >p {
        font-weight: 600;
        font-size: 1.05rem;
        margin-bottom: 8px;
    }

    >input {
        padding: 8px 10px;
        width: 100%;
        margin-bottom: 5px;
        border: 1px solid #444;
        font-size: 1rem;
    }
}

.subjects {
    display: flex;
    flex-direction: column;
}

.LyricOutputBox {
    width: 50%;

    >textarea {
        resize: none;
        border-bottom: 0;
        padding: 10px;
        font-size: 1rem;
        height: 500px;

        &:focus {
            outline: none;
        }
    }

}

.icons {
    border: 1px solid #444;
    border-top: 0;
    background-color: #f9f9f9;
    padding: 10px 0;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        cursor: pointer;
    }
}

//Business

.itemInputBox {

    >button {
        background-color: $main;
        border: 1px solid $main;
        outline: 0;
        font-size: 1rem;
        color: $white-1;
        padding: 10px 40px;
        height: 100%;
        margin-left: 10px;
        cursor: pointer;
    }

}

.busiItem {

    width: 500px;

    >p {
        font-weight: 600;
        font-size: 1.05rem;
        margin-bottom: 8px;
    }

    >input {
        padding: 8px 10px;
        width: 100%;
        border: 1px solid #444;
        font-size: 1rem;

    }
}

.SerCardHead {
    padding: 10px;
    font-family: 'NeoDunggeunmo';
    background-color: #555;
    color: $white-1;

}

.SerCardBody {
    text-align: center;
    padding: 48px;
}

.SerCardFoot {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

//discuss

.DiscussInputBox,
.DiscussOutputBox {
    width: 100%;
}

.InputAlign {

    max-width: 600px;
    width: 100%;

    >p {
        font-weight: 600;
        font-size: 1.05rem;
        margin-bottom: 8px;
    }

    >input {
        padding: 8px 10px;
        width: 100%;
        border: 1px solid #444;
        font-size: 1rem;
    }
}

.Agree,
.Opposite {

    >button {
        background-color: $main;
        border: 1px solid $main;
        outline: 0;
        font-size: 1rem;
        color: $white-1;
        padding: 15px 50px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

.outputArea {

    border: 1px solid $main;
    background-color: $white-1;
    padding: 10px;

    >div:first-child {
        height: 100px;
        width: 350px;

        @media screen and (max-width: 680px) {
            width: 100%;
        }

    }

}


//fairyTale


// .mainBox {

//     width: 100%;
//     gap: 30px;
//     padding: 120px;


//     @media screen and (max-width: 768px) {
//         padding-right: 30px;
//         padding-left: 30px;
//     }

// }





.AcoStyle {
    width: 100%;
}

.AcoPanelStyle {
    // padding: 10px 12px;
    padding: 18px 12px 5px 12px;

    >div {
        padding: 0;

        >h4 {
            font-size: 16px;
            margin: 0;

            @media screen and (max-width: 768px) {
                font-size: 18px;
            }

            &::after {
                content: '❗️';
            }
        }

        >svg {
            width: 22px;
            height: 22px;
        }
    }
}

.AcoInput {
    width: 100%;
    padding: 10px;
    // padding: 0 0 10px 10px;

    >input {
        width: 70%;
        padding: 5px;
        margin-right: 5px;
        ;
        border: 1px solid $dark-1;

        &:focus {
            outline: none;
        }

        @media screen and (max-width: 768px) {
            height: 35px;
        }
    }

    >button {
        cursor: pointer;
        background-color: $white-2;
        border: 1px solid $white-2;
        font-weight: 600;
        padding: 5px 15px;
    }
}

.writeBtn {
    display: flex;
    justify-content: center;
    margin-top: 35px;

    >button {
        padding: 8px 15px;
        border: 1px solid #444;
        background-color: #ffd000;
        outline: 0;
        width: 180px;
        text-align: center;
        cursor: pointer;
    }
}


.output1,
.output2 {
    background-color: $white-1;
    border: 1px solid #444;
    max-width: 450px;
    width: 100%;
    height: 300px;
    resize: none;
    font-size: 16px;

    @media screen and (max-width: 768px) {
        width: 90%;
    }
}

.output1 {
    padding: 15px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >div {
        text-align: right;
        cursor: pointer;
    }
}

.output2 {
    padding: 10px 15px;
}

//MBTI & mbti result

.MbtiCard1 {
    &:hover {
        background-color: #7d4cdb;
        color: #fff;
    }
}

.MbtiCard2 {
    &:hover {
        // background-color: #ef0081;

        background-color: $sub1;
        color: #fff;
    }
}

.ResultBox {
    width: 100%;
    max-width: 500px;
}

.ResultHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {
        background-color: $sub2;
        color: $dark-1;
        padding: 10px 15px;

        >span {
            font-weight: 600;
        }

    }

    >a>button {
        background-color: transparent;
        outline: 0;
        border: 0;
        text-decoration: underline;
    }
}

.ResultContent {
    background-color: $white-1;
    border: 1px solid $dark-1;
    padding: 15px;
}

.iconBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ResultIcon {

    margin-top: 10px;

    >svg {
        background-color: #444;
        fill: #fff;
        stroke: #fff;
        padding: 2px;
        width: 30px;
        height: 30px;
        padding: 4px;
        border-radius: 5px;
    }
}


//DailyWrite


.DailyiconBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;

}

//Storysrc

.SrcPrintBtn {
    width: 100%;
    height: 150px;

    >button {
        background-color: $main;
        border: 1px solid $main;
        color: $white-1;
        padding: 10px 8px;
        width: 200px;
        font-size: 1rem;
        cursor: pointer;
    }
}


.SrcResult {
    width: 100%;
    background-color: #ededed;
    color: $dark-1;
    padding: 8px;

    >div>p {
        font-weight: 600;
        text-indent: 5px;
    }

    >div>button {
        margin-left: 10px;
        background-color: $dark-1;
        color: $white-1;
        border: 1px solid $dark-1;
        border-radius: 8px;
        cursor: pointer;
    }
}

.SrcPrintBox {
    border: 1px solid #444;
    border-radius: 15px;
    width: 200px;
    padding: 6px;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.SrcSentence {
    background-color: $white-1;
    border: 1px solid #444;
    z-index: 3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;

    padding: 24px;
    text-align: center;

    // @media screen and (max-width: 680px) {
    //    width:300px
    // }
}

.StoryResults {
    width: 100%;
    background-color: #ededed;
    color: $dark-1;
    padding: 8px;
}